APP_ENV=development

# Server configuration
SERVER_PORT=8080
SERVER_MODE=debug
SERVER_SECRET_KEY=YvOtebmhpOSGSPFVaTOaYlWgonHrUwcQlL8JoA7D8HjqmyDLZ1

# Client configuration
CLIENT_DOMAIN=

# Database configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=dormitory
DB_SSL_MODE=disable

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0

# JWT configuration
JWT_ACCESS_SECRET=MqRqUbOPu072SMfjurbj55tKXgzWaLVv
JWT_REFRESH_SECRET=IyYoprqLixeI2Amac5toqQJPUOpMZFOI
JWT_ACCESS_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=604800

# Log level
LOG_LEVEL=info

# Email configuration
FROM_EMAIL=example@gmail.com
FROM_EMAIL_PASSWORD=12345678
FROM_EMAIL_SMTP=smtp.gmail.com
SMTP_ADDR=smtp.gmail.com:587
